project:
  type: website
  output-dir: ../docs/studynote

website:
  title: "Study Notes"
  site-url: https://jaeseokh.github.io/studynote/
  repo-url: https://github.com/jaeseokh/jaeseokh.github.io
  repo-branch: main
  search: true
  page-navigation: true
  navbar:
    left:
      - text: "Home"
        href: ../index.html
  sidebar:
    style: "floating"
    collapse-level: 2
    contents:
      - text: "Welcome"
        href: index.qmd
      - section: "Basic Statistics"
        contents:
          - E01-Distributions.qmd
          - E02-Tests.qmd
      - section: "Bayesian Statistics"
        contents:
          - B01-Bayes-Theorem.qmd
          - B02-MCMC.qmd

format:
  html:
    theme: cosmo
    toc: true
    toc-depth: 2
    code-tools: true
    code-link: true
    callout-icon: false
    smooth-scroll: true
    link-external-newwindow: true
    css: styles.css
    base-url: /studynote/

execute:
  warning: false
  message: false
